.main{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 1px solid black;
  width: 30%;
  height: 50%;
  padding: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  
}
input{
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  color: white;
  outline: none;
  font-size: x-large;
}
li{
  list-style: none;
}
.mainAll{
 margin: auto;
 display: flex;
 justify-content: center;
 margin-top: 6rem;
}
body{
  font-family: cursive;
  font-size: xx-large;
  background-color: gray;
}